body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #13668B;
}

header {
    color: #fff;
    padding: 10px 20px;
}
span{
    font-weight: bold;
}
nav {
    display: flex;
    align-items: center;
    font-size:18px;
}
.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    margin: 0 auto;
    padding: 10px 20px;
}

.burger-menu {
    display: none;
    width: 29px;
    cursor: pointer;
    padding: 10px;
    padding: 1px;
    flex-direction: column;
}

.bar {
    width: 100%;
    height: 4px;
    background-color: #fff;
    margin: 4px 0;
    transition: 0.4s;
}

.burger-menu.close .bar:nth-child(1) {
    transform: rotate(45deg) translate(8.5px, 8.5px);
}

.burger-menu.close .bar:nth-child(2) {
    opacity: 0;
}

.burger-menu.close .bar:nth-child(3) {
    transform: rotate(-45deg) translate(8.5px, -8.5px);
}

.additional-text {
    display: none;
}

.menu-items ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.menu-items li {
    margin-right: 30px;
}

.buttons-container {
    display: flex;
    align-items: center;
}

.special, .special2 {
    background-color: #3498db;
    color: #fff;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 50px;}
.special2{background-color: #FD6F13;}
.logo {
    display: flex;
    align-items: center;

}

.logo img {
    width: 40px;
    height: 40px;
    margin-right: 15px;
}

.buttons-container {
    display: flex;
    align-items: center;
}

.login-btn{
    margin-right:10px;
}


a {
    text-decoration: none;
    color: #fff;
}


.user-icon { display: flex;
    align-items: center;
    width: 0;
    margin-left: 5px;
   /* position: relative; */
}

.user-initial {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #FD6F13;
    color: #fff;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    position: absolute;
    top: 20px;
    right: 66px; 
}
.user-dropdown-menu {
    display: none;
    position: absolute;
    background-color: #0F516F;
    min-width: 120px;
    z-index: 1;
    border-radius: 20px;
    right: 5px; 
    top: 60px; /* Выравниваем по вертикали под иконкой, это значение может потребоваться подстроить */
    padding: 20px;
}

.user-dropdown-menu a {
    font-size: 15px;
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #ffffff;
    padding-bottom: 10px;
    padding: 8px 16px;
    margin-bottom: 5px;
}

.user-dropdown-menu .user-info {
    display: flex;
    flex-direction: column;
}
.user-dropdown-menu .user-details {
    margin-bottom: 10px;
}
.user-dropdown-menu span {
    display: block;
    color: #ffffff;
    font-size: 18px;
    margin-bottom: 5px;
}
#userIconMenu:hover .user-dropdown-menu {
    display: block;
    /* Другие стили, которые должны применяться при наведении */
}

.languages-container {
    display: flex;
    margin-left: 25px; 
      flex-direction: column; /* Добавляем отступ между контейнерами */
      cursor: pointer;
}


@media (max-width: 768px) {
    .menu {
        flex-direction: row;
    }

    .burger-menu {
        display: flex;
        /*justify-content: space-between;*/

    }
    .menu-items ul{display:none;
    }

    nav ul {top: 65px;
        display: none;
        flex-direction: column;
        background-color: #145e80;
        position: absolute;
        right: 0;
        margin: 20px 20px;
        width: 100%;
        z-index: 999;
    }
    nav li {display: none;
        font-size: 25px;
        margin: 20px 20px;
       
        padding: 5px 30px;
    }
    nav.active ul {
        display: flex;
        height:100%;
    }
    nav.active li {
        display: flex;
        font-size: 25px;
   
        margin: 18px 0;

    }
    .menu-items li.additional-text { font-size: 15px;
        margin-top: auto; /* Перемещает этот элемент в самый низ списка */
    }
    footer{
        display: none;
    }
    .footer-column{
        display: none;
    }
    .user-dropdown-menu {
        top:60px;
     
    }   
    .login-btn,.signup-btn{ font-size: 15px;  } 

}
@media (max-width: 450px){
    .logo img{display:none;}
        .burger-menu {
       left: 0;
        padding: 0;  
    }
        .login-btn{font-size:15px;}
        .signup-btn{font-size:15px;}
    
       .bar {
        width: 25px;
        height: 2.5px;
        background-color: #fff;
        margin: 3px 0;
    } 
    .menu {padding:0 0}
    .user-dropdown-menu {
        top:35px;
        padding: 13px;

    }   
    .user-dropdown-menu span {
        display: block;
        color: #ffffff;
        font-size: 14px;
        margin-bottom: 5px;
    }
    .user-initial{
        top:10px;
        font-size: 15px;
         width: 30px;
    height: 30px;
        line-height: 30px;
    }
    .burger-menu {
        width: 25px;
        cursor: pointer;
    
        flex-direction: column;
    }
    
    .bar {
        width: 100%;
        height: 4px;
        background-color: #fff;
        margin: 4px 0;
        transition: 0.4s;
    }
    
    .burger-menu.close .bar:nth-child(1) {
        transform: rotate(45deg) translate(8.5px, 8.5px);
    }
    
    .burger-menu.close .bar:nth-child(2) {
        opacity: 0;
    }
    
    .burger-menu.close .bar:nth-child(3) {
        transform: rotate(-45deg) translate(8.5px, -8.5px);
    }
    
}


.cont {
    display: flex;
    font-family: Arial, sans-serif;
    padding: 20px;
    margin-top:20px;
    text-align: center;

}
.icon{
    color: #fff;
    text-align: center;
    line-height: 120px;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: none;
    background-color: #FD6F13;
    margin-bottom: 5%;
    font-size: 50px;
}
#options-column {
    width: 200px;
    padding: 20px;
    border:2px solid #ccc;
    height:400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#content-area {
    flex: 1;

    border:2px solid #ccc;
}

.option-button {
    display: block;
    width: 70%;
    padding: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    border: none;
    font-size: 20px;
    border-radius: 12px;
    background: #D9D9D9;
    text-align:center;
}


.form-container {
    display: none;
    flex-direction: column;
    width: 100%;
}

.form-container label {
    margin-bottom: 5px;
}

.form-container input,
.form-container select {
    margin-bottom: 10px;

    padding: 10px;
}

.selected {
    background-color: #3498db;
    color: #fff;
}
input{
    background-color: #13668B;
    border: 1px solid #000;
    width: 80%;
    font-size: 20px;
}
input::placeholder {
    color: #ffffff;
}
.custom-button{
    padding: 10px 40px;
    border-radius: 10px;
    background-color: #D9D9D9;
    border: none;
    font-size:16px
}
h2{
    color: #FFF;

    font-size: 45px;
    border-bottom: 2px solid #ffffff;
    width: 100%;
    margin-top: 25px; /* Верхний отступ */
    margin-bottom: 50px; /* Нижний отступ */


}
select{
    width: 83%;
}
input[type="text"] {
    padding: 15px; /* Вы можете настроить этот параметр под ваши требования */
color: white;
}





.element-before-footer {
    margin-bottom: 100px; /* Измените значение, чтобы определить необходимый вам отступ */
}


.form-container li{
    font-size:25px;
    list-style:none;
    color:white;
    display:flex;
    justify-content:center;
}



/* ФУТТЕР */
footer{
background-color: #135A7A;
border-radius: 17px 17px 0px 0px;
color: white;
justify-content: space-between;
display: flex;
}
.footer-column {
flex: 1;
padding: 0 10px;
}
.first {
display: flex;
align-items: center;
margin: 0 auto;
padding: 0 20px;
flex-wrap: wrap;
}

.first img {
width: 40px;
height: 40px;
margin-right: 15px;
}

.auth {font-family: Imprima;
font-style: normal;
flex-basis: 100%;
padding-top: 10px;
padding-bottom: 10px;
}
.footer-column li{
font-size: 15px;
font-style: normal;
text-transform: uppercase;
}
.footer-column ul {

list-style: none;
display: grid;
grid-template-columns: repeat(2, 1fr);
grid-gap: 10px; /* Отступ между элементами */
padding-top: 40px;
}
.contact{padding: 0 20px;
display: flex;
flex-direction: column;
align-items: flex-end;
padding-top: 35px;

}
.contact svg {
margin-right: 5px; /* Расстояние между иконками */
}
.contact div {
margin-bottom: 10px; /* Задает отступ снизу для каждого абзаца внутри контактов */
}
/* КОНЕЦ ФУТТЕРА */

/*КНОПКА ВВЕРХ*/
#toTopBtn {
position: fixed;
bottom: 20px;
right: 10px;
z-index: 99;
background-color: transparent;
border: none;
cursor: pointer;
outline: none;
}

#toTopBtn svg {
width: 50px;
height: 50px;
fill: #D9D9D9;
}
/*КОНЕЦ ВВЕРХ*/

#userDataContainer{
    font-size:16px;
    color:white;
}

#liked-topics-container{
    font-size: 18px;
    color:white;
    font-weight:bold
}